@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --violet-bg-color:hsl(273, 75%, 66%);
    --blue-bg-color: hsl(240, 74%, 65%);
    --card-bg-color: hsla(0, 0%, 100%, 1);
    --dark-text-color: hsl(238, 29%, 17%);
    --red-hover-text-color: hsl(14, 88%, 65%);
    --question-text-color: hsl(237, 12%, 33%);
    --answer-text-color: hsl(240, 6%, 50%);
    --horizontal-line-color: hsl(240, 5%, 91%);
    --card-box-shadow: rgba(53, 18, 122, 0.497159);
    --font-family: 'Kumbh Sans', sans-serif;
    --faq-font-size: 32px;
    --faq-line-height: 32px;
    --big-font-weight: 700;
    --normal-font-weight: 400;
    --question-font-size: 14px;
    --question-line-height: 14px;
    --answer-font-size: 12px;
    --answer-line-height: 18px;
    --question-font-size-mobile: 13px;
    --question-line-height-mobile: 13px;
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: var(--font-family);
    background: linear-gradient(180deg, var(--violet-bg-color) 0%, var(--blue-bg-color) 100%);
    overflow: hidden;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    width: 900px;
    box-shadow: 0px 50px 50px -20px var(--card-box-shadow);
    border-radius: 23px;
    background: url(images/illustration-woman-online-desktop.svg), url(images/bg-pattern-desktop.svg), var(--card-bg-color);
    background-repeat: no-repeat;
    background-position: top 45% left -73px, bottom 32% left -565px;
    display: flex;
    flex-direction: row;
}

.picture {
    width: 50%;
}

.faq {
    width: 50%;
    margin-left: 5%;
    margin-bottom: 83px;
}

.box {
    position: absolute;
    top: 41%;
    left: -93px;
}

.caption {
    color: var(--dark-text-color);
    font-size: var(--faq-font-size);
    font-weight: var(--big-font-weight);
    line-height: var(--faq-line-height);
    margin-top: 65px;
    margin-bottom: 43px;
}

.question {
    color: var(--question-text-color);
    font-weight: var(--normal-font-weight);
    font-size: var(--question-font-size);
    line-height: var(--question-line-height);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon-arrow {
    margin-right: 111px;
    height: 4px;
    width: 8px;
}

.answer {
    color: var(--answer-text-color);
    font-weight: var(--normal-font-weight);
    font-size: var(--answer-font-size);
    line-height: var(--answer-line-height);
    display: none;
    margin-right: 23%;
}

.question:hover {
    cursor: pointer;
    color: var(--red-hover-text-color);
}

hr {
    border: 1px solid var(--horizontal-line-color);
    width: 77%;
    margin-left: 0;
}

.hr-answer {
    display: none;
}

.active .answer {
    display: block;
}

.active .icon-arrow {
    transform: rotate(180deg);
    transition: all 0.2s ease-in;
}

.active .question {
    font-weight: 700;
}

.active .hr-answer {
    display: block;
}

.active .hr-question {
    display: none;
}

.woman {
    display: none;
}


@media screen and (max-width: 992px) {

    .card {
        margin-left: 50px;
        margin-right: 50px;
        background: url(images/illustration-woman-online-desktop.svg), url(images/bg-pattern-desktop.svg), var(--card-bg-color);
        background-repeat: no-repeat;
        background-position: top 45% left -85px, bottom 35% left -580px;
    }

    .faq {
        margin-left: 0;
        width: 40%;
    }

    .picture {
        width: 60%;
    }

    .box {
        top: 39%;
        left: -93px;
    }

    .icon-arrow {
        margin-right: 20px;
    }

    hr {
        width: 95%;
    }

    .question {
        font-size: var(--question-font-size-mobile);
        line-height: var(--question-line-height-mobile);
    }
    
}

@media screen and (max-width: 767px) {

    .card {
        margin: 148px 24px 85px 24px;
        background: url(images/bg-pattern-mobile.svg), var(--card-bg-color);
        background-repeat: no-repeat;
        background-size: 45%;
        background-position: top 0 left 50%;
        min-width: 315px;
    }

    .woman {
        display: block;
        position: absolute;
        width: 50%;
        transform: translate(45%, -55%);
    }

    .box {
        display: none;
    }

    .faq {
        width: 80%;
        padding: 132px 24px 48px 24px;
        margin: 0 auto;
    }

    .picture {
        width: 0;
    }

    .caption {
        margin-top: 0;
        margin-bottom: 38px;
        text-align: center;
    }

    .question {
        font-size: var(--question-font-size-mobile);
        line-height: var(--question-line-height-mobile);
    }

    .icon-arrow {
        margin-right: 0;
    }

    hr {
        width: 100%;
    }
}